<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div class="imagePlaceholder">
	<div class="mountain1"></div>
	<div class="mountain2"></div>
	<div class="sun"></div>
</div>

<hr />

<div class="circuloVermelho"></div>

<hr />

<div class="containerTriangulo">
  <div class="triangulo"></div>
</div>

<hr />

<div class="bola">
  <div class="curvas"></div>
</div>

<hr />

<div class="pie-chart"></div>

<hr />

<div class="containerLupa">
  <div class="lupa"></div>
</div>